<nav class="navbar navbar-fixed-top navbar-dark bg-primary">
  <%= link_to "Walk This Way", root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <%= link_to "Search", search_path, class: "nav-link" %>
    </li>
  </ul>
  <div class="pull-right"><fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button></div>
</nav>
